html{
    height: 100%;
}
body{
    background-image: url(flagBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: url(nixonCursor.png), auto;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-evenly;
}
.nixon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mcgovern{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 600px;
    height: 600px;
}

#mcgovernBtn{
    background-color: blue;
    color: white;
}

#nixonBtn{
    background-color: red;
    color: white;
}

button{
    display: flex;
    cursor: url(nixonCursor.png), auto;
    font-size: xx-large;
    width: 300px;
    justify-content: center;
    width: 25rem;
    height: 5rem;
    border-radius: 20px;
    z-index: 10;
    align-items: center;
    border: 2px solid white;
}

h1{
    text-align: center;
    color: white;
}



